<!DOCTYPE html>
<html>
  <head>
    <title>Rastreador de Preços</title>
    <meta http-equiv="refresh" content="10" />
  </head>
  <body>
    <h1>Rastreador de Preços</h1>
    <form method="POST">
      <label for="url">URL do Produto:</label><br />
      <input type="text" id="url" name="url" /><br />
      <input type="submit" value="Rastrear Preço" />
    </form>
    <form method="POST" action="/stop">
      <input class="teste" type="submit" value="Parar Monitoramento" />
    </form>
    <h1 class="teste">UHSDUAHDUSHDUHSUDH</h1>

    <p>{{ message }}</p>
    <p>Número de e-mails enviados: {{ emails_sent }}</p>

    <style>
      .teste {
        color: blue;
      }
    </style>
  </body>
</html>
